repos:
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: fmt
    -   id: cargo-check
    -   id: clippy
        args: ["--all-targets", "--all-features", "--", "-D", "clippy::all"]
