name: coverage
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: coverage
    runs-on: ubuntu-latest
    container:
      image: xd009642/tarpaulin:develop-nightly
      options: --security-opt seccomp=unconfined
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules : true
      - name: Build Binary
        run: cargo build --bin sg
      - name: Generate code coverage
        run: |
          cargo +nightly tarpaulin --verbose --all-features --timeout 120 --out Xml --skip-clean
      - name: Upload to codecov.io
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: true
